DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&connection_limit=1"
NODE_ENV="development"

NEXTAUTH_SECRET="replace-with-strong-secret"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NODEMAILER_USER=""
NODEMAILER_PWD=""

JWT_SECRET="replace-with-strong-secret"
