@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-highlight {
    -webkit-tap-highlight-color: transparent;
  }

  .no-hightlight:focus {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  background-color: #edece7;
  font-family: Rubik;
}
